composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# Configuration files
config.ini
config-sql.ini

#Database files
#tutodtoo_tutordb.sql

# Log and output files
test_output.txt
*.log

# Deployment files
#.cpanel.yml
#deploy.php

# Other
ttt.yml
A.html
index.php
# Test files
test_*.php
NAME_ATOMIZATION_GUIDE.md
CODE_CHANGES_GUIDE.md
*.sql
*.md
